/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Independent scrolling of docs sidebar menu (requires pjax) */
@media only screen and (min-width: 736px) {
  /* makes desktop nav scroll independently of content */
  #docsNav.container.docsNavContainer .toc {
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    top: 0;
    padding: 80px 0 60px 0;
    width: 220px;
  }
  #docsNav.container.docsNavContainer .toc::-webkit-scrollbar {
    display: none;
  }
  /* safari fix */
  #docsNav.container.docsNavContainer {
    position: static;
  }
  #docsNav.container {
    flex: 0 0 200px;
  }

  .onPageNav {
    top: 70px;
    max-height: calc(100vh - 70px);
  }
  .onPageNav .toc-headings {
    margin-bottom: 15px;
  }
  .post {
    padding-top: 10px !important;
  }
  .mainContainer {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 736px) and (max-width: 900px) {
  .mainContainer {
    margin-left: 0px;
    max-width: 65% !important;
  }
}

a {
  color: #1a0dab;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #609;
}

a.navItemActive {
  color: #8c32f9 !important;
}

.mainContainer h1, .mainContainer h2, .mainContainer h3, .mainContainer h4, .mainContainer h5 {
  color: #000 !important;
  font-weight: bolder !important;
}

h2 small {
  font-size: 80%;
  color: #555;
}

.button {
  text-transform: none;
}

.leftCentredBlock {
  text-align: left;
  max-width: 560px;
  margin: 0 auto;
}

.mTop20 {
  margin-top: 20px;
}
